 /* mobile style */
 .mobile-logo img {
    height: 45px;
    float: left;
  }
  
  .svg-button {
    float: right;
    background: none;
    border: none;
    fill: #fff;
    padding-top: 8px;
    outline: none;
  }
  
  .drop-down-mobile {
    height: 0;
    background: black;
    overflow: hidden;
    transition: height 1s;
  }
  
  .mobile-li {
    display: block;
    padding: 15px;
    border-top: 1px solid #444d56;
  }
  
  .mobile-ul {
    padding: 0 40px;
  }
  
  .search-mobile {
    width: 100%;
  }
  
  .search-outer-mobile {
    margin-top: 6px;
  }